# node_modules/
# .env
# .env*.local
# dist/
# build/
# logs/
# *.log
# npm-debug.log*
# .DS_Store
# .idea/
# .vscode/
# uploads/


node_modules/
.env
.env.*
!.env.example

dist/
build/

logs/
*.log
npm-debug.log*

.DS_Store

.idea/
.vscode/

uploads/